@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
body {
  background-color: rgb(233, 235, 236);
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
}
.navbar {
  background-color: #417dd6 !important;
}
.navbar-brand {
  color: #f5f7ef !important;
}
.navbar-secondary {
  background-color: #1c3761 !important;
}
.navbar-secondary a {
  color: white;
  font-size: 0.97em;
  text-decoration-line: none;
}
.navbar-secondary a:hover {
  color: #a4b8d6
}
.user-controls a,i {
  color: white
}
.banner {
  padding-top: 10px;
  /* background-color: lightblue; */
  background-image: url("../images/girl-bag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  font-weight: bold;
  text-align: center;
}
.banner-text {
  font-family: "Antonio", sans-serif;
  width: 40%;
  color: #1c3761;
  float: right;
  position: relative;
  top: 10px;
  font-size: 18px;
  font-weight: '900 !important';
  /* right: 100%; */
}

.main-compt {
  margin: 0;
  padding: 0;
  /* height: 85vh; */
}
.feature-product {
  margin-top: 10px;
  padding: 0;
  /* height: 85vh; */
}
.feature-title {
  margin: 30px 0px;
  text-align: center;
  /* height: 85vh; */
}
footer {
  margin: 30px 0px 0px 0px;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: "Antonio", sans-serif;

  background-color: #0391c5;
  /* height: 85vh; */
}
